@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300);


#MIOdivRicerca{
	width: auto;
	height: auto;
	background-color: rgba(255, 255, 255, 0.85);
	position: absolute;
	text-align: center;
	left: 5%;
	right: 5%;
	top: 15%;
	margin-bottom: 4.7%;
    border-color: #0d6c03;
    border-style:double;
    border-width:thick;

	border-radius: 30px;
	
}

#bRicerca{

    background-color: #72bf48;
    width: auto;
    height: 50px;
    border: 2px solid #0d6c03;
    font-family: Cambria;
    font-size:16px;
    font-weight:bold;
}

#bRicerca:hover{
     box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}



body {
    background-color: #72bf48;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
    font-family: 'Open Sans', sans-serif;
}

/**** Start Section Title Section ****/

.section-title h3{
    color: #107865 !important;
    //font-style: italic;
    font-size: 28px;
    font-family: 'Oswald', sans-serif;
    text-transform: none;
}

.section-title p {
    font-family: Cambria;
    padding-bottom: 60px;
    color: #666;
    font-size:22px;
    font-style: italic;
    font-weight: 300;
}