@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300);


#MIOdivInfo{
	width: 1000px;
	height: 950px;
	background-color: rgba(255, 255, 255, 0.85);
	position: absolute;
	text-align: center;
	left: 15%;
	top: 15%;
    border-color: #266f8e;
    border-style:double;
    border-width:thick;
    
	border-radius: 30px;
}

body {
    background-color: #28abe3;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
    font-family: 'Open Sans', sans-serif;
}

/**** Start Section Title Section ****/

.section-title h3{
    color: #266f8e !important;
    //font-style: italic;
    font-size: 28px;
    font-family: 'Oswald', sans-serif;
    text-transform: none;
}

.section-title p {
    font-family: Cambria;
    padding-bottom: 60px;
    color: #666;
    font-size:22px;
    font-style: italic;
    font-weight: 300;
}